In [13]:
import pandas as pd
from pathlib import Path

In [14]:
INPUT_FOLDER = Path.cwd().parent / "inputs"

In [15]:
fp_md_grouwer_report = INPUT_FOLDER / "anonymize_md_grower_report.csv"

In [16]:
fp_sales = INPUT_FOLDER / "anonymize_sales.csv"

In [19]:
fp_sales_part = INPUT_FOLDER / "anonymize_sales_part.csv"

In [17]:
df_md_grower_report = pd.read_csv(fp_md_grouwer_report)

In [18]:
df_sales = pd.read_csv(fp_sales)

/var/folders/g0/342sbsdd56173k7xyxgl_jh1w0chb5/T/ipykernel_53266/2015865778.py:1: DtypeWarning: Columns (38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sales = pd.read_csv(fp_sales)

In [20]:
df_sales_part = pd.read_csv(fp_sales_part)

In [23]:
df_sales_part.head()

,Unnamed: 0,sale_id,sale_item_id,sale_type,invoice_number,invoice_date,harvest_name,operational_year_name,plantation_city_name,plantation_state_name,...,a_sold_qty_ha,a_total_net_price,a_credit_volume,a_seller_name,a_buyer_name,a_multiplier_name,a_head_office_name,a_seller_document,a_buyer_document,a_multiplier_document_fmt
0,0,7d740463-6ff1-4626-bfb5-ecab1eb24397,039694b4-d7ee-4992-9a51-98a75809324c,Distribuidor para Agricultor,308760.0,2018-11-19,SAFRA 18/19,2018.0,SEARA,SANTA CATARINA,...,12.280524,NaN,NaN,seller_name0,buyer_name0,multiplier_name0,head_office_name0,197737,652567,526791
1,1,d25fd8ef-f120-45fb-889e-e2bedfa0373c,6ddbbf03-e12a-4314-a40c-43fb8f4b6d78,Distribuidor para Agricultor,100768.0,2018-10-30,SAFRA 18/19,2018.0,PASSOS MAIA,SANTA CATARINA,...,12.247604,NaN,NaN,seller_name0,buyer_name1,multiplier_name0,head_office_name0,197737,686993,526791
2,2,d25fd8ef-f120-45fb-889e-e2bedfa0373c,a0a8d735-9b95-4e32-a5d9-9b2dad64320a,Distribuidor para Agricultor,100768.0,2018-10-30,SAFRA 18/19,2018.0,PASSOS MAIA,SANTA CATARINA,...,12.246405,NaN,NaN,seller_name0,buyer_name1,multiplier_name0,head_office_name0,197737,686993,526791
3,3,d25fd8ef-f120-45fb-889e-e2bedfa0373c,007eb4ca-3991-40ca-a051-6982aadec64f,Distribuidor para Agricultor,100768.0,2018-10-30,SAFRA 18/19,2018.0,PASSOS MAIA,SANTA CATARINA,...,12.265330,NaN,NaN,seller_name0,buyer_name1,multiplier_name0,head_office_name0,197737,686993,526791
4,4,4c2ed596-c546-48ca-9c40-87a3622ba3d4,dfc2e1f8-10c6-46d9-bd06-f345ba5c8322,Multiplicador para Agricultor,43.0,2021-07-20,SAFRA VENDAS 21/22,2021.0,PORTO GRANDE,AMAPA,...,12.386614,12.424815,12.713574,seller_name1,buyer_name2,multiplier_name1,head_office_name1,689892,340580,648913

In [24]:
df_md_grower_report.head()

,Unnamed: 0,id,grower_document_type,a_grower_document,a_grower_name,a_grower_fantasy_name,a_email,collaborator,cooperative,groundbreaker,...,bid,creation_user,creation_date,sent_user,sent_date,approval_user,approval_date,comments,region_grower,district_grower
0,0,e96d1376-a134-8138-f546-fe9145185c58,CPF,551155.0,grower_name0,grower_fantasy_name0,email0,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CERO SOJA,DOURADOS-SOJA/ICS
1,1,e6f1eba1-c14a-d13b-7c60-b56f5f156f54,CPF,780267.0,grower_name1,grower_fantasy_name0,email1,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUL LESTE SOJA,CARAZINHO-SOJA
2,2,7eb3dad4-dd58-c436-c7f9-012b04c44962,CPF,383742.0,grower_name2,grower_fantasy_name0,email2,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CERL SOJA,FORMOSA-SOJA/ICS
3,3,83a6fdb7-9f76-9ee8-d648-8584fd19944f,CPF,293234.0,grower_name3,grower_fantasy_name0,email1,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CERL SOJA,GOIATUBA-SOJA/ICS
4,4,d6eaaada-33f9-4615-8496-c93c222eff6a,CPF,875734.0,grower_name4,grower_fantasy_name0,email3,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUL LESTE SOJA,CHAPECO-SOJA

In [26]:
query = """
select *
from its4u_prod_curated.t_ba003_unified_sale_report_entries b
    left join (
        select distinct *
        from its4u_prod_curated.t_ba001_md_partner_report_v2
        where affiliate_type ='MULTIPLIER'
    ) a on cast(a.document_number as bigint) = cast(b.multiplier_document as bigint)
where sale_type in ('Multiplicador para Agricultor', 'Multiplicador para Distribuidor')
  and sale_item_status not in ('CANCELLED', 'PENDING_VALIDATION','REJECTED')
"""

In [32]:
df_sales_part.columns  # join column: sap_document_number

Index(['Unnamed: 0', 'sale_id', 'sale_item_id', 'sale_type', 'invoice_number',
       'invoice_date', 'harvest_name', 'operational_year_name',
       'plantation_city_name', 'plantation_state_name', 'seller_unit',
       'seller_region', 'seller_district', 'buyer_unit', 'buyer_region',
       'buyer_district', 'multiplier_unit', 'multiplier_region',
       'multiplier_district', 'product_name', 'technology_name',
       'company_name', 'crop_name', 'brand_name', 'total_discounts',
       'sales_origin', 'due_dates', 'creation_date', 'sale_item_status',
       'sap_sale_order', 'sap_document_number', 'billing_date', 'payment_date',
       'revenue_recognition_date', 'multiplier_document_type', 'wts_range',
       'batch', 'buyer_city', 'buyer_groundbreaker', 'buyer_state',
       'buyer_precertificate', 'planting_region', 'region_of_city_planting',
       'district_of_city_planting', 'user_registration', 'user_cancellation',
       'user_edition', 'validated_by', 'validation_date', 'payment_method',
       'head_office_city', 'partner_city', 'head_office_contracts',
       'head_office_district', 'head_office_region', 'head_office_uf',
       'partner_uf', 'head_office_unit', 'sale_adjustment_user',
       'sale_adjustment_date', 'is_sale_adjustment', 'unit_of_city_planting',
       'load_date', 'creation_date_partition', 'a_qty', 'a_kg_ha',
       'a_unit_net_price', 'a_productivity', 'a_sold_qty_bags',
       'a_sold_qty_ha', 'a_total_net_price', 'a_credit_volume',
       'a_seller_name', 'a_buyer_name', 'a_multiplier_name',
       'a_head_office_name', 'a_seller_document', 'a_buyer_document',
       'a_multiplier_document_fmt'],
      dtype='object')

In [31]:
df_md_grower_report.columns  # join column: a_grower_document

Index(['Unnamed: 0', 'id', 'grower_document_type', 'a_grower_document',
       'a_grower_name', 'a_grower_fantasy_name', 'a_email', 'collaborator',
       'cooperative', 'groundbreaker', 'precertificate', 'precertificate_from',
       'precertificate_to', 'a_address', 'address_type', 'additional_info',
       'neighborhood', 'state_id', 'state', 'city', 'city_id', 'region',
       'district', 'agreement_id', 'agreement_template_id', 'technology',
       'agreement_type', 'status', 'bid', 'creation_user', 'creation_date',
       'sent_user', 'sent_date', 'approval_user', 'approval_date', 'comments',
       'region_grower', 'district_grower'],
      dtype='object')

In [34]:
query_modified = """
select *
from its4u_prod_curated.t_ba003_unified_sale_report_entries b
    left outer join its4u_prod_curated.t_ba001_md_partner_report_v2 a
    on cast(a.document_number as bigint) = cast(b.multiplier_document as bigint)
where a.affiliate_type ='MULTIPLIER'
  and b.sale_type in ('Multiplicador para Agricultor', 'Multiplicador para Distribuidor')
  and b.sale_item_status not in ('CANCELLED', 'PENDING_VALIDATION','REJECTED')
"""

In [35]:
df = pd.merge(
    df_sales_part,
    df_md_grower_report,
    how="inner",
    # on=None,
    left_on=["sap_document_number"],
    right_on=["a_grower_document"],
    # left_index=False,
    # right_index=False,
    # sort=True,
    suffixes=("_sales", "_grower"),
)

In [38]:
df_sales_part.shape

(2156, 79)

In [39]:
df_md_grower_report.shape

(514182, 38)

In [40]:
df.shape

(74218017, 117)